.imgFabric {
    width: 80%;
    border-radius: 3px;
    aspect-ratio: 1/1;
    object-fit: fill;
}
.fabricTitle {
    font-size: 21px;
}
.fabricContainer div {
    width: 45%;
}
.fabricContainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.traditionalDescription {
    text-align: left;
    width: 80%;
    margin: 10% auto 15%;
    font-size: 14px;
}


@media(min-width: 1023px){
    .traditionalDescription{
        margin: 7% auto 10%;
        font-size: 18px;
    }
}