.servicesContainer div {
    display: flex;
    align-items: center;
    font-weight: 300;
    color: var(--color-darkgrey);
    border-bottom: 2px solid #C1C09F;
    padding: 2% 0;
}
.servicesContainer {
    border-radius: 20px;
    padding: 0% 13% 8%;
    font-size: clamp(0.8rem, 8vw - 2rem, 3rem);
}
.services {
    margin-top: 8%;
}

@media(min-width:639px){
    .servicesContainer {
        font-size: clamp(1.3rem, 8vw - 2rem, 3rem);
    }
}
@media(min-width:1023px){
    .servicesContainer {
        font-size: clamp(0.7rem, 6vw - 2rem, 3rem);
    }
}
@media(min-width:1279px){
    .servicesContainer {
        border-radius: 30px;
        padding: 5% 0%;
        border: 2px solid #C1C09F;
        color: white;
        margin: 8% auto;
        font-size: clamp(0.7rem, 6vw - 2rem, 1.5rem);
        display: flex;
        width: 80vw;
    }
    .servicesContainer div {
        width: 50vw;
        display: flex;
        align-items: center;
        font-weight: 300;
        text-align: center;
        color: var(--color-darkgrey);
        border-bottom: unset;
        padding: 2% 0;
        flex-direction: column;
        justify-content: center;
        font-weight: 400;
    }
    .services {
        margin-top: 0;
        padding-top: 6%;
    }
}

@media(min-width:1534px){
    .servicesContainer {
        margin: 5% auto;
    }
}