.servicesContainer div {
    display: flex;
    align-items: center;
    font-weight: 300;
    color: var(--color-darkgrey);
    border-bottom: 2px solid #C1C09F;
    padding: 2% 0;
}
.servicesContainer {
    border-radius: 20px;
    padding: 0% 13% 8%;
    font-size: clamp(0.8rem, 8vw - 2rem, 3rem);
}
.services {
    margin-top: 8%;
}

@media(min-width:639px){
    .servicesContainer {
        font-size: clamp(1.3rem, 8vw - 2rem, 3rem);
    }
}
@media(min-width:1023px){
    .servicesContainer {
        font-size: clamp(0.7rem, 6vw - 2rem, 3rem);
    }
    .services {
        margin-top: 5%;
    }
}
@media(min-width:1200px){
    .servicesContainer {
        border-radius: 30px;
        padding: 6% 0% 6% 8%;
        border: 4px solid #C1C09F;
        color: white;
        margin: 8% auto;
        display: flex;
        width: 65vw;
        flex-wrap: wrap;
        box-shadow: antiquewhite 1px solid;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .servicesContainer .icons {
        color: #C1C09F;
    }
    .servicesContainer div {
        display: flex;
        width: 50%;
        margin: auto;
        align-items: center;
        font-weight: 300;
        text-align: unset;
        color: var(--color-darkgrey);
        border-bottom: unset;
        padding: 2% 0;
        flex-direction: row;
        justify-content: flex-start;
        font-weight: 400;
        font-size: 19px;
    }
    .servicesDiv{
        width: 50%;
    }
    .services {
        margin-top: 0;
        padding-top: 6%;
    }
    .servicesContainer .icons {
        width: 1.8em !important;
        height: 1.8em !important;
    }
}

@media(min-width:1439px){
    .servicesContainer {
        margin: 5% auto;    
        padding: 4% 0% 4% 7%;
        width: 60vw;
    }
    .servicesContainer div{
        font-size: 20px;
    }
    
    .services {
        padding-top: 3%;
    }
}