.productsContainer{
    padding-top: 9vh;
    text-align: center;    
    padding-bottom: 15%;
}
.productContainer {
    padding-bottom: 15%;
}
.imgProduct{
    width: 70%;
    border-radius: 3px;
    height: 170px;
    object-fit: cover;
}
.productName {
    text-align: left;
    padding: 0 15%;
    font-weight: 500;
    font-size: 16px;
}
.productDescription {
    width: 74vw;
    text-align: left;
    padding-left: 15%;
    font-size: 14px;
}

@media(min-width:639px) {
    
}