.productsContainer{
    padding-top: 9vh;
    text-align: center;    
    padding-bottom: 15%;
    min-height: 70vh;
}
.productContainer {
    padding-bottom: 15%;
}
.imgProduct{
    width: 80%;
    border-radius: 3px;
    height: 170px;
    object-fit: cover;
}
.productName {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    padding: 3% 0;
    margin: 0;
}
.productDescription {
    width: 80vw;
    text-align: left;
    font-size: 14px;
}
.moreInfo{    
    text-align: left;
    font-size: 11px;
    padding-bottom: 5%;
}
.productInfoContainer{
    padding-left: 10%;
}
.curtainsh2 {
    margin-bottom: 0;
}
@media(min-width:639px) {
    .imgProduct{
        border-radius: 10px;
        height: 260px;
    }
    .productName {
        font-size: 18px;
    }
    .productDescription {
        font-size: 16px;
    }
}
@media(min-width:1023px){
    .imgProduct {
        margin: 6% 0 1%;
        height: 300px;
    }
    .productName {
        font-size: 24px;
    }
    
    .productDescription {
        font-size: 20px;
    }
    .moreInfo{
        font-size: 15px;
        padding-bottom: 0;
    }
}
@media(min-width:1269px){
    .productContainer {
        display: flex;
        width: 90%;
        margin: 0 10% 2%;
        padding: 5% 0;
        align-items: center;
    }
    .moreInfo{
        padding-left: 5%;
    }
    .imgProduct {
        margin: 0;
        height: 400px;
        width: 35vw;
        min-width: 200px;
    }
    .productDescription{
        padding: 0 5%;
        width: 80%;
    }
    .productName{
        padding: 1% 5%;
        font-size: 28px;
    }
    .productInfoContainer{
        width: 60%;
    }
}
@media(min-width:1439px){
    .imgProduct {
        width: 30vw;
        height: 450px;
    }
    .productDescription{
        font-size: 22px;
    }
    .productName{
        font-size: 32px;
    }
    .moreInfo {
        font-size: 17px;
    }
}