.subtitleHome {
    font-size: larger;
    font-weight: 300;
    color: var(--color-darkgrey);
    margin: 0% auto;
    text-align: center;
    padding: 10% 0;
}

.imageOverlay {
    position: absolute;
    top: 3%;
    left: 3%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
    pointer-events: none;
    width: 94%;
    height: 94%;
}
  
.productsBoxContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.productBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* scale: 2; */
}
.productBox {
    width: 50%;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.fabric .productBox img {
    scale: 3;
}

.productBoxText {
    position: relative;
    top: -85%;
    right: -6%;
    color: white;
    font-size: 18px;
    z-index: 3;
    text-transform: uppercase;
    
    font-weight: 300;
    letter-spacing: 0.8px;
    font-family: 'Poppins';
    
}
.productBoxText strong {
    font-weight: 600;
}
#products h3 {
    margin-bottom: 0;
}

@media (min-width:639px) {
    .subtitleHome {
        font-size: 26px;
        margin: 7%;
        padding: 0;
    }
    .productBox {
        height: 150px;
    }
    .productBoxText {
        font-size: 29px;
    }
}

@media (min-width: 1023px){
    .subtitleHome {
        font-size: 30px;
    }
    .productBox {
        height: 180px;
    }
    .productBoxText {
        font-size: 35px;
    }
    .productBox:hover img {
        transform: scale(1.2); /* Ajusta el valor según tus necesidades */
        transition: transform 0.4s ease-in-out;
    }
    .productBox img {
        transition: transform 0.4s ease-in-out;
    }
}

@media (min-width: 1279px){
    .subtitleHome {
        text-transform: uppercase;
        text-align: left;
        font-size: 30px;
        width: 80vw;
        font-weight: 600;
        margin: 8% auto 3%;
        padding: 0%;
        font-size: 32px;
    }
    .productBox {
        width: 33.3% !important;
        height: 280px;
    }
    .productBoxText {
        font-size: 36px;
        top: -52%;
        right: -30px;
    }
    .imageOverlay{
        top: unset;
        left: unset;
        width: 100%;
        height: 100%;
    }
    .productsBoxContainer {
        width: 80%;
        margin: auto;
    }
}
@media (min-width: 1439px){
    
    .productBoxText {
        top: -56%;
        right: -22px;
    }
}

@media (min-width: 1600px){
    
    .subtitleHome {
        margin: 6% auto 2%;
    }
}