.detailContainer {
    margin: 10vh 0;
    min-height: 80vh;
}

.detailImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
}
.detailDescription {
    padding: 7%;
    font-size: 15px;
}
.detailAttribute{
    font-size: 13px;
    padding-right: 30px;
}

.detailAttributeSubtitle{
    padding-left: 40px;
    font-weight: 500;
    color: var(--color-darkgrey);
    color: #9c9b83;
    margin: 0;
}
ul {    
    padding-right: 10%;
    font-size: 14px;
}
.arrow {
  width: fit-content;
  display: block;    
  padding-top: 5%;
  padding: 5% 0 0 3%;
}

@media (min-width: 1023px){
    
    .detailImage {
        height: 600px;
    }
    .detailDescription{
        padding: 5% 10%;
        font-size: 17px;
    }
    .detailAttributeSubtitle{
        padding-left: 10%;
    }
    ul{
        padding-left: 10%;
        font-size: 16px;
    }
    h4 {
        font-size: 20px;
    }
}
@media(min-width:1279px){
    .ppalInfo {
        display: flex;
        width: 80%;
        margin: 0 10% 2%;
        padding: 0 0 10;
        margin: 5% auto;
        align-items: center;
    }
    .detailImage {
        height: 300px;
        width: 60%;
        border-radius: 10px;
    }
    .detailDescription{
        padding: 0% 0% 0 6%;
    }
    h4 {
        font-size: 22px;
    }
    ul{
        font-size: 17px;
        width: 31vw;
    }
    li{
        padding: 0.5% 0;
    }
    .detailsListContainer {
        display: flex;
        flex-wrap: wrap;
        margin: 8% auto;
        width: 75%;
        justify-content: space-between;
    }
    .detailsListItem {
        padding: 1% 0;
    }
}

@media(min-width:1439px){
    .detailDescription{
        font-size: 20px;
    }
}
@media(min-width:1600px){
    .detailAttributeSubtitle {
        font-size: 26px;
    }
    .detailDescription{
        width: 60%;
        font-size: 25px;
    }
    ul{
        font-size: 22px;
    }
}