.aboutContainer {
    min-height: 80vh;
    width: 85%;
    margin: auto;
    margin-top: 10vh;
}

.aboutContainer img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    border-radius: 5px;
    /* margin: 10% 0 0; */
}
.aboutImgDesktop{
    display: none;
}

.aboutText {
    /* border: 2px solid #C1C09F; */
    color: var(--color-darkgrey);
    padding: 5% 3%;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 0;
}

.aboutContainer h3 {
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    font-size: large;
    color: var(--color-darkgrey);
    padding-bottom: 5%;
}
.aboutContainer h2 {
    margin: 0%;
}

.finalAbout {
    margin: 0;
    margin-bottom: 10vh;
    font-size: 15px;
    font-weight: 500;
    padding-top: 0;
}

@media(min-width:1023px){
    
    .aboutContainer h3 {
        font-size: 30px;
        padding-bottom: 2%;
    }
    .aboutText {
        font-size: 18px;
        padding: 5% 0%;
    }
    .finalAbout{
        font-size: 20px;
        padding: 0;
    }
    
    .aboutImgDesktop{
        display: block;
    }
    
    .aboutImgMobile{
        display: none;
    }
}

@media(min-width:1279px){
    .aboutContainer img {
        width: 90%;
        margin: 0% 5%;
        height: 70vh;
        object-position: 10% 67%;
    }
    .aboutText {
        padding: 2% 5%;
    }
    .finalAbout {
        padding-top: 0 !important;
    }
}

@media(min-width:1600px){

    .aboutText {
        font-size: 20px;
    }
}