.heroHomeImg {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    object-position: bottom;
}
.heroHomeImgDesktop {
    display: none;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
@media (min-width:600px){
    .heroHomeImg {
        height: 90vh;
    }
}
@media (min-width: 1000px){
    .heroHomeImg {
        display: none;
    }
    .heroHomeImgDesktop {
        display: block;
        object-position: bottom right;
    }
}
@media (min-width: 1200px){
    .heroHomeImgDesktop{
        object-position: bottom;
    }
}