.header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    position: fixed;
    width: 100%;
    background: #FAFAFA;
    top: 0;
    z-index: 100;
    padding: 0 5%;
}
.logoNavbar {
    width: 130px;
    padding-left: 5%;
}

.navbarItems {
    font-size: clamp(0.7rem, 8vw - 2rem, 3rem);
    font-weight: 500;
    color: var(--color-darkgrey);
    padding-right: 5%;
    margin: 0;
}

.navbarItemsContainer {
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}
.navbarItemsSubContainer {
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartItemNavbar {
    padding-right: 5%;
    font-size: 1.2em !important;
}

.dropdownContainer {
    position: absolute;
    top: 8vh;
    background: #FAFAFA;
    width: 46%;
    right: 0;
    font-size: 14px;
    border-radius: 3px;
    text-align: right;
    width: 50%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
}

.dropdownItem {
    padding: 6% 14% 0 0;
    color: var(--color-darkgrey);
    font-weight: 500;
    font-size: 14px;
}
.subcategoryDropdown {
    padding-right: 17%;
    color: var(--color-darkgrey);
    font-weight: 300;
    margin: 6px 0;
}


@media (min-width:639px){
    .logoNavbar {
        width: 150px;
    }
    .navbarItemsContainer {
        width: 37%;
    }
    
    .cartItemNavbar {
        padding-right: 1%;
    }
    .dropdownItem {
        font-weight: 400;
        font-size: 15px;
        padding: 3% 10% 0 0;
    }
    .navbarItems {
        font-size: 16px;
        font-weight: 400;
    }
    a:focus{
        color: #C1C09F;
    }
    .dropdownItem:focus {
        color: #C1C09F;
    }
    .dropdownItem.selected {
        color: #C1C09F;
    }
    .navbarItemsSubContainer{
        width: 85%;
    }
}

@media(min-width:1023px){
    .navbarItemsSubContainer{
        width: 60%;
        display: flex;
        justify-content: space-evenly;
    }
    .navbarItemsContainer{
        width: 45%;
        justify-content: flex-end;
    }
    .dropdownContainer{
        padding: 2% 0 3%;
    }
    .dropdownItem{
        font-size: 17px;
    }
}

@media (min-width: 1200px){
    .navbarItemsSubContainer{
        width: 20%;
    }
    .navbarItems{
        margin-bottom: 0;
    }
    .productNavbarItem{
        display: none;
    }
    .dropdownContainer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 55%;
        background: unset;
        position: unset;
        top: unset;
        right: unset;
        border-radius: unset;
        text-align: unset;
        padding: unset;
    }
    .dropdownItem{
        font-size: 16px;
        font-weight: 400;
        padding: 0 5% 0 0;
    }
    .logoNavbar {
        width: 220px;
    }
    .navbarItemsContainer{
        width: 50vw;
    }
    .cartItemNavbar {
        /* margin: 0 0 0 15px; */
        padding: 0;
        font-size: 1.2em !important;
    }
}
@media (min-width: 1439px){
    .header{
        height: 12vh;
    }
}
@media (min-width: 1800px){
    .logoNavbar {
        width: 230px;
    }
    .navbarItems, .dropdownItem {
        font-size: 20px;
    }
}