.navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    position: fixed;
    width: 90%;
    background: white;
    top: 0;
    z-index: 10;
    padding: 0 5%;
}
.logoNavbar {
    width: 130px;
    padding-left: 5%;
}

.navbarItems {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-darkgrey);
    padding-right: 5%;
}

.navbarItemsContainer {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.dropdownContainer {
    position: absolute;
    top: 8vh;
    background: white;
    width: 46%;
    right: 0;
    font-size: 14px;
    border-radius: 3px;
    text-align: right;
    padding-bottom: 5%;
}

.dropdownItem {
    padding-right: 19%;
    color: var(--color-darkgrey);
    font-weight: 600;
    font-size: 15px;
}
.subcategoryDropdown {
    padding-right: 17%;
    color: var(--color-darkgrey);
    font-weight: 300;
    margin: 6px 0;
}


@media (min-width:639px){
    .logoNavbar {
        width: 200px;
    }
    
    .navbarItemsContainer {
        width: 31%;
    }
    .navbarItems{
        font-size: 17px;
    }
    
    .dropdownItem {
        padding-right: 24%;
        color: var(--color-darkgrey);
        font-weight: 600;
        font-size: 20px;
    }
}
