.promosDivContainer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10vh;
    justify-content: space-evenly;
}

.promoContainer {
    padding: 2%;
    border: 2px solid #C1C09F;
    width: 42%;
    border-radius: 30px;
    margin: 5% 0% 2% 0%;
    transition: -webkit-box-shadow 0.2s ease-in-out;
}
.promoContainer:hover {
    -webkit-box-shadow: 8px 8px 17px 2px rgba(193, 192, 159, 0.38);-moz-box-shadow: 8px 8px 17px 2px rgba(193, 192, 159, 0.38);box-shadow: 8px 8px 17px 2px rgba(193, 192, 159, 0.38);
}
.promoImage {
    width: 90%;
    margin: 6%;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.promoCategory {
    text-align: center;
    font-size: small;
    font-weight: 300;
    font-family: monospace;
    color: var(--color-darkgrey);
    font-family: 'Raleway';
    font-family: 'poppins';
    margin: 5px;
}

.promoTitle {
    text-align: center;
    margin: 5px;
    color: var(--color-darkgrey);
    font-size: 13px;
    text-transform: capitalize;
}

.promoPrice {
    text-align: center;
    margin: 5px;
    font-family: 'Raleway';
    color: var(--color-darkgrey);
    color: #575656;
    font-weight: 600;
    font-size: 20px;
}
.storeCategoryBox {
    border: none;
    background: transparent;
    color: #575656;
    font-weight: 600;
    line-height: 30px;
    font-size: 11px;
    margin: 0 0 5% 0;
}
.storeCategoryActive{
    text-decoration-line: underline;
}
.storeCategory {
    background: none;
    border: none;
}
.modal-dialog {
    width: 80vw !important;
    margin: auto !important;
    font-family: 'Raleway';
}
.modalPromoImage {
    width: 90%;
    height: auto;
    max-height: 27vh;
    object-fit: cover;
    border-radius: 20px;
    margin: 5%;
}
.modalPromoTitle {
    font-size: 14px !important;
    color: #373737;
    text-transform: capitalize;
}
.modalPromoPrice{
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    color: #8c6c79;
}

.modalWsp {
    font-size: 12px;
}
.modal-body {
    display: block !important;
}
.modal {   
    height: 80vh !important;
    margin-top: 10vh;
}

.modalPromoDescription {
    font-size: 12px !important;
}
.itemCountContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
}
.buttonCount, .buttonCountAdd {
    background: none;
    border: 2px solid #8c6c79;
    height: 29px;
    border-radius: 4px;
    font-size: 13px;
    font-family: 'Poppins';
    color: black;
}
.addCartContainerModal{
    display: flex;
    justify-content: space-around;
}

.modalColors {    
    width: fit-content;
    border: grey 2px solid;
    padding: 1% 4%;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 400;
}
.modalColors:hover {
    color: #575656;
    border: #575656 2px solid;
    cursor: pointer;
}
.sizeActive{
    background-color: grey;
    color: white !important;
}
.noStock {
    text-transform: uppercase;
    color: grey;
    font-weight: 700;
    margin: 5% 2%;
    font-size: larger;
}
.buttonCount:hover{
    background-color: grey;
    color: white;
}
.disabledButton{
    color: rgb(188, 187, 187);
    border: 2px solid rgb(188, 187, 187);
}
.modalPromoColorsContainer{
    display: flex;
}
.modalPromoColorsContainer p {
    margin-right: 3%;
}
@media(min-width: 600px){
    .promoTitle{
        font-size: 15px;
    }
    .promoPrice {
        font-size: 20px;
    }
    .storeCategoryBox {
        font-size: 14px;
        margin: 0 0 5% 0;
        width: 80vw;
        margin: auto;
    }
    .promosDivContainer{
        width: 78vw;
        margin: 5% auto;
    }
    .promoImage{
        height: 150px;
    }
    .itemCountContainer{
        width: 20%;
    }
    .modalPromoDescription {
        font-size: 13px !important;
        margin-bottom: 5%;
    }
    .addCartContainerModal{
        margin-top: 6%;
    }
}
@media(min-width: 1000px){
    .promoContainer {
        margin: 1%;
        border: 3px solid #C1C09F;
        width: 31%;
    }
    .modalPromoTitle {
        font-size: 15px !important;
    }
    .promosDivContainer{
        justify-content: flex-start;
    }
    .promoTitle{
        font-size: 17px;
    }
    .promoPrice {
        font-size: 24px;
    }
    .storeCategoryBox {
        font-size: 19px;
        margin: 0 0 5% 0;
        width: 75vw;
        margin: auto;
        line-height: 40px;
    }
    .promoImage {
        width: 95%;
        margin: 3%;
        height: 190px;
        object-fit: cover;
        border-radius: 25px;
    }
    .modal-dialog{
        width: 60vw !important;
        max-width: 80vw !important; 
    }
    .modal-content {
        border-radius: 17px;
    }
    .modalPromoImage{
        width: 80%;
        margin: 0 10% 5%;
    }
}

@media(min-width: 1200px){
    .modal-body {
        display: flex !important;
        justify-content: space-between;
    }
    .promosDivContainer{
        width: 80vw;
        margin: auto;
    }
    .modalPromoTitle {
        font-size: 22px !important;
        margin-left: 2%;
    }
    .modalPromoPrice{
        font-size: 36px;
        font-weight: 600;
    }
    .promoImage{
        height: 180px;
    }
    .modalPromoDescription {
        font-size: 18px !important;
        text-align: right;
        margin-bottom: 15%;
    }
    .modalWsp {
        font-size: 14px;
    }
    .modalPromoImage {
        max-height: 50vh;
        margin: 2%;
        width: 50%;
    }
    .storeCategoryBox{
        margin: 0 auto 5%;
        width: 100%;
    }
    .storeCategory {
        padding: 0px 0.8%;
    }
    .promoContainer {
        width: 23%;
    }
    .infoModalContainer{
        
        padding-right: 2%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .itemCountContainer {
        width: 30%;
    }
    .addCartContainerModal{
        justify-content: space-between;
    }
}
@media(min-width: 1400px){
    .promoImage{
        height: 210px;
    }
    .buttonCount{
        font-size: 16px;
    }
    .itemCountContainer p {
        font-size: 20px;
    }
}
@media(min-width:1600px){
    .storeCategoryBox {
        margin: 2% auto 3%;
    }
    .promosDivContainer {
        width: 70vw;
    }
    .modal-dialog {
        width: 50vw !important;
    }
    .infoModalContainer{
        margin-top: 9%;
    }
}