.promosDivContainer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10vh;
    justify-content: space-evenly;
}

.promoContainer {
    padding: 2%;
    border: 2px solid #C1C09F;
    width: 42%;
    border-radius: 30px;
    margin: 5% 0% 2% 0%;
}
.promoImage {
    width: 90%;
    margin: 6%;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.promoCategory {
    text-align: center;
    font-size: small;
    font-weight: 300;
    font-family: monospace;
    color: var(--color-darkgrey);
    font-family: 'Raleway';
    font-family: 'poppins';
    margin: 5px;
}

.promoTitle {
    text-align: center;
    margin: 5px;
    color: var(--color-darkgrey);
    font-size: 13px;
    text-transform: capitalize;
}

.promoPrice {
    text-align: center;
    margin: 5px;
    font-family: 'Raleway';
    color: var(--color-darkgrey);
    color: #575656;
    font-weight: 600;
    font-size: 20px;
}

.modal-dialog {
    width: 80vw !important;
    margin: auto !important;
    font-family: 'Raleway';
}
.modalPromoImage {
    width: 100%;
    height: auto;
    max-height: 40vh;
    object-fit: cover;
    border-radius: 20px;
    margin: 5% auto;
}
.modalPromoTitle {
    font-size: 18px !important;
    color: #373737;
    text-transform: capitalize;
}
.modalPromoPrice{
    font-size: 25px;
    font-weight: 500;
    text-align: right;
    color: #8c6c79;
}

.modalWsp {
    font-size: 12px;
}
.storeCategoryBox {
    border: none;
    background: transparent;
    color: #575656;
    font-weight: 600;
    line-height: 30px;
    font-size: 11px;
    margin: 0 0 5% 0;
}
.storeCategoryActive{
    text-decoration-line: underline;
}
.storeCategory {
    
    background: none;
    border: none;
}

@media(min-width: 639px){
    .promoTitle{
        font-size: 20px;
    }
    .promoPrice {
        font-size: 26px;
    }
    .storeCategoryBox {
        font-size: 14px;
        margin: 0 0 5% 0;
        width: 80vw;
        margin: auto;
    }
}
@media(min-width: 1023px){
    .promoContainer {
        margin: 1%;
        border: 3px solid #C1C09F;
        width: 31%;
    }
    .promosDivContainer{
        justify-content: flex-start;
        margin: 5%;
    }
    .promoTitle{
        font-size: 24px;
    }
    .promoPrice {
        font-size: 26px;
    }
}
@media(min-width: 1200px){

    .promosDivContainer{
        width: 70vw;
        margin: auto;
    }
    .modalPromoTitle {
        font-size: 22px !important;
    }
    .modalPromoPrice{
        font-size: 36px;
        font-weight: 600;
    }
    
    .modalPromoDescription {
        font-size: 18px !important;
    }
    .modalWsp {
        font-size: 14px;
    }
    .modalPromoImage {
        max-height: 50vh;
    }
}