.accesoriesImage { 
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: top;
}
.accesoriesContainer {
    padding: 5%;
}
.accesoriesContainer ul {
    width: 70vw;
    margin: auto;
    text-align: left;
    padding: 0 10%;
}
.accesoriesContainer ul p {
    font-size: 16px;
    margin: 3% 0;
}
.accesoriesSubtitles {
    font-weight: 400;
    font-size: 19px;
    color: var(--color-darkgrey);
    text-align: left;
    width: 50vw;
    margin: 7% auto;
}
.h3pc {
    display: none;
}
.h3longText {
    font-size: 17px;
}
@media(min-width:600px){
    .accesoriesSubtitles {
        text-align: unset;
        width: unset;
        margin: 5% 24%;
        font-weight: 500;
        font-size: 22px;
    }
    .accesoriesImage { 
        height: 300px;
        width: 300px;
    }
    .accesoriesContainer ul {
        width: 300px;
        margin: auto;
        padding: 0;
    }
    .accesoriesContainer ul p {
        font-size: 18px;
        width: 100%;
        padding: 0 3%;    
        margin: 2% 0;
    }
    .h3longText {
        font-size: 21px;
    }
    .accesoriesContainer {
        padding-top: 0;
    }
}

@media(min-width:1000px){
    .accesoriesSubtitles {
        font-size: 35px;
        text-align: left;
        margin: 8% 0;
        width: 125%;
    }
    .accesoriesContainer {
        display: flex;
        justify-content: space-evenly;
    }
    .accesoriesContainer ul {
        width: 35%;
        margin: 0;
    }
    .accesoriesContainer ul p {
        font-size: 23px;
    }
    .accesoriesImage {
        height: 300px;
        width: 300px;
    }
    .ImgTitleAccesories{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .h3longText {
        font-size: 27px;
    }
    .h3mobile {
        display: none;
    }
    .h3pc{
        display: block;
        margin-top: 0;
    }
}

@media(min-width:1200px){
    
    .accesoriesSubtitles{
    font-size: 24px;
    }
    .accesoriesContainer {
        padding: 0 18% 8%;
        align-items: start;
    }
    
    .ImgTitleAccesories{
        max-width: 23.5vw;
    }
    .accesoriesContainer ul p {
        margin: 1% 0;
        font-size: 19px;
        width: 100%;
    }
    .accesoriesContainer ul {
        flex-direction: column;
        width: 50%;
        margin: 0;
        padding: 0 0 0 20%;
    }
}
@media(min-width:1400px){
    .accesoriesContainer {
        padding: 0 25% 8%;
    }
}
@media(min-width:1600px){
    
    .accesoriesImage {
        height: 350px;
        width: 350px;
    }
    .accesoriesContainer ul p {
        font-size: 20px;
    }
}