.accesoriesImage { 
    height: 200px;
    width: 200px;
    /* max-height: 205px; */
    object-fit: cover;
    object-position: top;
}
.accesoriesContainer {
    padding: 5%;
}
.accesoriesContainer ul {
    width: 50vw;
    font-size: 14px;
    margin: auto;
    text-align: left;
}
.accesoriesContainer ul p {
    font-size: 16px;
}