.accesoriesImage { 
    height: 200px;
    width: 200px;
    /* max-height: 205px; */
    object-fit: cover;
    object-position: top;
}
.accesoriesContainer {
    padding: 5%;
}
.accesoriesContainer ul {
    width: 50vw;
    margin: auto;
    text-align: left;
}
.accesoriesContainer ul p {
    font-size: 16px;
}
.h3pc {
    display: none;
}
.h3longText {
    font-size: 17px;
}

@media(min-width:639px){
    .accesoriesContainer ul {
        display: flex;
        flex-wrap: wrap;
        width: 70vw;
    }
    .accesoriesContainer ul p {
        font-size: 18px;
        /* width: 40%;
        padding: 0 5%; */
        width: 43%;
        padding: 0 3%;    
    }
    .h3longText {
        font-size: 21px;
    }
}

@media(min-width:1023px){
    .accesoriesContainer {
        display: flex;
    }
    .accesoriesContainer ul {
        width: 60vw;
        padding-right: 0;
        padding-top: 52.5px;
        /* la medida del h3 */
    }
    .accesoriesContainer ul p {
        font-size: 23px;
    }
    .accesoriesImage {
        height: 300px;
        width: 300px;
    }
    .ImgTitleAccesories{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        max-width: 23.5vw;
    }
}

@media(min-width:1279px){
    .accesoriesContainer {
        padding: 0 18% 8%;
        align-items: start;
    }
    
    .ImgTitleAccesories{
        max-width: 23.5vw;
    }
    .accesoriesContainer ul p {
        margin: 1% 0;
        font-size: 19px;
        width: 100%;
    }
    .accesoriesContainer ul {
        flex-direction: column;
        width: 30%;
        margin: 0;
        padding: 0 0 0 20%;
    }
    .h3mobile {
        display: none;
    }
    .h3pc{
        display: block;
        margin-top: 0;
    }
}