.footer {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #373737;
    flex-direction: row-reverse;
}

.logoFooter {
    width: 110px;
}

.footerInfo {
    width: 52%;
}

.footerLinks {
    display: flex;
    font-size: x-small;
    align-items: center;
    font-weight: 500;
    color: #bfbfbf;
}

.css-i4bv87-MuiSvgIcon-root, .icons {
    margin: 3% !important;
    padding-right: 2% !important;
}

.footerInfo h4{
    margin: 6% 4%;
    font-weight: 500;
    color: #bfbfbf
}
@media(min-width:639px) {
    .footer{
        height: 220px;
    }
    .logoFooter {
        width: 180px 
    }
}