.footer {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #373737;
    flex-direction: row-reverse;
}
.justina {
    background: #373737;
}
.justina p {
    padding: 2% 5%;
    text-align: right;
    font-size: 10px;
    margin: 0;
}

.logoFooter {
    width: 110px;
}

.footerInfo {
    width: 52%;
}

.footerLinks {
    display: flex;
    font-size: x-small;
    align-items: center;
    font-weight: 500;
    color: #bfbfbf;
}

.icons {
    margin: 3% !important;
    padding-right: 2% !important;
}

.footerInfo h4{
    margin: 6% 4%;
    font-weight: 500;
    color: #bfbfbf
}
@media(min-width:600px) {
    .footer{
        height: 250px;
    }
    .logoFooter {
        width: 180px 
    }
    .footerInfo h4{
        font-size: 20px;
    }
    .footerLinks {
        font-size: smaller;
        font-weight: 300;
    }
}
@media(min-width:1000px) {
    .footer{
        height: 320px;
    }
    .logoFooter {
        width: 220px;
    }
    .footerInfo h4{
        font-size: 24px;
    }
    .footerLinks {
        font-size: large;
        font-weight: 300;
    }
    .justina p {
        padding: 1% 2%;
        font-size: 12px;
    }
}
@media(min-width:1000px) {
    
    .css-i4bv87-MuiSvgIcon-root, .icons {
        width: 1.5em !important;
        height: 1.5em !important;
    }
}

@media(min-width:1200px) {
    .footerInfo h4 {
        margin: 6% 4% 4%;

    }

    .footer .icons {
        margin: 2% 3% !important;
    }
}
@media (min-width: 1400px){
    .footerInfo h4 {
        margin: 3% 4% 3%;
        font-size: 26px;
    }
    .footer .icons {
        margin: 1.5% 1% !important;
    }
}