.imgFabric {
    width: 80%;
    border-radius: 3px;
    aspect-ratio: 1/1;
}
.fabricTitle {
    font-size: 21px;
}
.fabricContainer div {
    width: 45%;
}
.fabricContainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}